<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('게시판')">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu(board)">
</nav>

<div class="container">
    <h2>게시판</h2>
    <div class="cards-container"style="display:flex; margin: 2em 0 2em">
        <div th:each="board : ${boards}" th:href="@{'/board/'+${board.id}}" class="card">
            <img class="card-img-top" th:src="${board.getThumbnailImage()}?
            @{${@environment.getProperty('image-src-url')}+${board.getThumbnailImage().fileName}} : @{${@environment.getProperty('image-src-url')}+'default_image.png'}">
            <div class="card-body">
                <h5 th:text="${board.title}" class="card-title">Card title</h5>
                <p th:text="${board.content}" class="card-text">Some quick example text</p>
                <span th:text="${board.user.username}"> 작성자이름오는곳 </span>
                <div style="float:right;" th:classappend="${board.user.username != #authentication.name}? 'd-none'">
                    <a th:href="@{'/board/form/?id='+${board.id}}" >
                        <i class="fas fa-edit"></i>
                    </a>
                    <a style="color:#007bff; cursor:pointer;" th:onclick="|deleteBoard(${board.id})|">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${1 == startPage}? 'disabled'">
                <a class="page-link" th:href="@{/board/list(page=${boards.pageable.pageNumber - 4})}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item" th:classappend="${i == boards.pageable.pageNumber + 1}? 'disabled'" th:each="i: ${#numbers.sequence(startPage,endPage)}">
                <a class="page-link" th:href="@{/board/list(page=${i})}" th:text="${i}">1</a>
            </li>
            <li class="page-item" th:classappend="${boards.totalPages == endPage || boards.totalPages == 0 }? 'disabled'">
                <a class="page-link" th:href="@{/board/list(page=(${boards.pageable.pageNumber + 6}>${boards.totalPages})? ${boards.totalPages} : ${boards.pageable.pageNumber + 6})}">Next</a>
            </li>
        </ul>
    </nav>
    <div class="text-right">
        <a type="button" class="btn btn-primary" th:href="@{/board/form}">쓰기</a>
    </div>
</div>

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(".card-text").each(function() {
        var text = $(this).text();
        $(this).text(text.replace(/(<([^>]+)>)/ig,""));
    });

    function deleteBoard(id){
        $.ajax({
            headers:{"[[${_csrf.headerName}]]":"[[${_csrf.token}]]"},
            url : '/api/boards/'+id,
            type: 'DELETE',
            success: function(result){
                window.location.reload();
            }
        });
    }
</script>
</body>
</html>